/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

/* 全体 */

.base-container {
  margin: 0 auto;
  padding: 1rem;
  padding-right: 5px;
  padding-left: 5px;
}

h1 {
    padding: 20px 0px 10px 0px;
    font-size: 2rem;
    text-align: center;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

.mw-md {
  max-width: 576px;
}

body {
  padding-top: 56px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link-disabled{
  color: rgb(85, 73, 73);
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
// テキストページ一覧
.card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}
.card-body p {
  text-align: left;
}
