<div class="nav-item">
  <ul class="navbar-nav ml-auto">
    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
    <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
  </ul>
</div>

<div class="collapse navbar-collapse" id="bs-navi">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, :class => "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to '登録', new_user_registration_path, :class => "nav-link text-white" %></li>
  </ul>
</div>